<div class="umb-panel merchello-side-panel" data-ng-controller="Merchello.Plugin.Payment.SagePayPaymentProviderController">

    <div class="umb-modalcolumn-header">
        <h4><localize key="general_edit" /> <b>{{dialogData.provider.name}}</b></h4>
    </div>

    <div class="umb-panel-body with-header with-footer">       
        <form name="editTemplateForm" class="well" data-ng-class="{ 'open': flyouts.editTemplate, 'closed': !flyouts.editTemplate }">
            <div class="control-group row-fluid">
                <p>Vendor Name<br /></p>
                <div class="input-prepend col-xs-12 span12">
                    <input class="col-xs-8 span8" type="text" data-ng-model="apiSettings.VendorName" placeholder="Your account username">
                </div>
            </div>
            <div class="control-group row-fluid">
                <p>Encryption Password<br /></p>
                <div class="input-prepend col-xs-12 span12">
                    <input class="col-xs-8 span8" type="text" data-ng-model="apiSettings.EncryptionPassword" placeholder="Provided by SagePay on account setup">
                </div>
            </div>
        </form>
    </div>
    
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel"><localize key="general_cancel" /></localize>
                </a>

                <button class="btn btn-primary"
                        data-ng-click="submit(dialogData)">
                    <localize key="buttons_save"><localize key="buttons_save" /></localize>
                </button>

            </div>
        </div>
    </div>

</div>